<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Execute a Script in Terminal</string>
	<key>Script</key>
	<string>Action.scpt</string>
	<key>Icon</key>
	<string>Icon.png</string>
	<key>Title</key>
	<string>Execute ‘%Param%Script%’ in Terminal</string>
	<key>Author</key>
	<string>Tom Floeren</string>
	<key>Help</key>
	<string>Execute a script or a script file in the Terminal application.</string>
	<key>Results</key>
	<string>None</string>
	<key>Parameters</key>
	<array>
		<dict>
			<key>Label</key>
			<string>Script</string>
			<key>Type</key>
			<string>Text</string>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Label</key>
			<string>New Terminal window</string>
			<key>Type</key>
			<string>Checkbox</string>
			<key>Default</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Label</key>
			<string>Bring Terminal to foreground</string>
			<key>Type</key>
			<string>Checkbox</string>
			<key>Default</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
