atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

nvim.config/plugged
nvim.config/bundle
git/gitconfig.local.symlink
let g:netrw_dirhistmax  =10
let g:netrw_dirhist_cnt =1
let g:netrw_dirhist_1='/Users/lmonson/dev/dotfiles/nvim.config'
nvim.config/.*
